# .aliases

alias rm='rm -i' # safety first
alias newt="gnome-terminal & disown"
alias cat="batcat"
alias clip="xclip -sel clip"
alias myip='curl http://ipecho.net/plain; echo'
alias cp='cp -iv' # Preferred 'cp' implementation
alias mv='mv -iv' # Preferred 'mv' implementation
alias mkdir='mkdir -pv' # Preferred 'mkdir' implementation
alias c='clear' # Clear terminal display
alias listenPorts='sudo lsof -i | grep LISTEN' # All listening connections
alias numFiles='echo $(ls -1 | wc -l)' # Count of non-hidden files in current dir

alias serve="python3 -m http.server 8080" # Fast http server

alias myremote="ssh -X remote"
